.app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  background-color: grey;
  /* height: 100vh; */
}

a:link,
a:visited,
a:active {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: slategray;
  text-decoration: none;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
}

.header-link-one {
  background-color: tan;
  width: 50%;
  border-radius: 25% 25% 0 0;
}

.header-link-two {
  background-color: thistle;
  width: 50%;
  border-radius: 25% 25% 0 0;
}

.new-entry {
  background-color: tan;
  width: 100%;
}

/* .body {
  width: 100%;
  height: 100vh;
}

.link {
  background-color: tan;
  width: 100%;
  height: 100vh;
} */

Form {
  background-color: tan;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.detail-to-watch {
  background-color: tan;
  /* display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center; */
  width: 100%;
  height: 100vh;
}

.detail-watched {
  background-color: thistle;
  width: 100%;
  height: 100vh;
}

.promote {
  background-color: thistle;
}

.new-watched {
  background-color: thistle;
  width: 100%;
}

.title-to-watch {
  background-color: tan;
  /* width: 100%; */
}

.title-watched {
  background-color: thistle;
  width: 100vw;
}

main {
  /* display: flex; */
  /* flex-flow: column nowrap; */
  /* padding-bottom: 5%; */
  width: 100%;
  height: 100vh;
  /* background-color: thistle; */
  /* justify-content: flex-start; */
}

input {
  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
  /* text-align: center; */
}
