.app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-around; */
}

.show-container {
  padding-bottom: 5%;
}

/* .to-do, .to-done {
  display: inline-block;
  justify-content: space-around;
} */